*{
    text-align: center;
    background-color: black;
}

p{
    font-size: 50px;
    color: blueviolet;
}

label{
    font-weight: 900;
}
.box{
    border: 5px dotted white;
    margin-bottom: 10px;
}